
/* Header styles */
header {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}